@import "tailwindcss";

@plugin "daisyui";

@theme {
  --font-avenir: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --color-wso-navy: #09193D;
  --color-wso-blue: #007DC5;
}

@layer base {
  body {
    @apply antialiased font-avenir text-slate-900;
  }
}
