<nav class="px-4 shadow-sm navbar bg-base-100 lg:px-12">
  <div class="flex-1">
    <p class="ml-10 text-lg font-bold uppercase lg:text-xl lg:ml-0 text-wso-navy">World Squash Officiating</p>

    <p class="hidden text-sm text-gray-600 lg:block">Referee Management System</p>
  </div>

  <div class="flex-none">
    <ul class="px-1 py-1 text-white rounded-lg menu menu-horizontal bg-wso-blue">
      <li>
        <details>
          <summary class="uppercase">
            Referee view
          </summary>

          <ul class="z-10 w-full p-2 text-black rounded-t-none bg-base-100">
            <li><%= link_to 'Referee View', "#" %></li>

            <li><%= link_to 'Admin View', "#" %></li>

            <li><%= link_to 'Appraiser View', "#" %></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</nav>
