<div class="w-11/12 border shadow-sm card bg-base-100 border-neutral-content ">
  <div class="card-body">
    <div class="flex justify-between w-full">
      <h2 class="uppercase card-title">Analytics Integration</h2>

      <%= link_to "#"  do %>
        <i class="fa-solid fa-chart-column fa-2xl" style="color: #007DC5;"></i>
      <% end %>
    </div>

    <div class="mt-8">
      <div class="flex flex-col items-center justify-center gap-4 mx-auto text-center max-w-96">
        <%= image_tag "undraw_marketing-analysis.svg" %>

        <h2 class="card-title">PowerBI Integration</h2>

        <p>View comprehensive analytics and reporting dashboards powered by Microsoft PowerBI</p>

        <button class="text-white uppercase rounded-lg btn bg-wso-blue">
          Launch Dashboard
        </button>
      </div>

      <div class="divider"></div>

      <div class="flex justify-around">
        <div class="my-auto text-center">
          <p class="text-4xl font-bold text-wso-navy">257</p>

          <span>Total Matches</span>
        </div>

        <div class="my-auto text-center">
          <p class="text-4xl font-bold text-wso-blue">10</p>

          <span>This month</span>
        </div>
      </div>
    </div>
  </div>
</div>
